var bem = require('p_./miniprogram_npm/@vant/weapp/wxs/bem.wxs')().bem;
var memoize = require('p_./miniprogram_npm/@vant/weapp/wxs/memoize.wxs')().memoize;
var addUnit = require('p_./miniprogram_npm/@vant/weapp/wxs/add-unit.wxs')().addUnit;
module.exports = ({
    bem: memoize(bem),
    memoize: memoize,
    addUnit: addUnit,
});